body {
    display: grid;
    grid-template-rows: 80px auto 1fr auto 70px;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100vh;
    margin: 0;
    grid-template-areas: "header header header"
                        "aside-left banner aside-right"
                        "aside-left main aside-right"
                        "aside-left content-end aside-right"
                        "footer footer footer";
}

header {
    background-color: #4f4e4e;
    grid-area: header;
}
.banner {
    background-color: rgb(253, 86, 119);
    grid-area: banner;
}
.aside-left {
    background-color: rgb(113, 249, 113);
    grid-area: aside-left;

}
main {
    background-color:rgb(243, 184, 113);
    grid-area: main;

}
.aside-right {
    background-color: rgb(101, 126, 249);
    grid-area: aside-right;

}
.content-end {
    background-color: rgb(247, 109, 247);
    grid-area: content-end;
}
footer {
    background-color:rgb(180, 49, 245);
    grid-area: footer;
}

@media (max-width: 576px) {
    body {
        grid-template-rows: 50px 50px 50px 1fr 50px 50px 50px;
        grid-template-columns: 1fr;
        grid-template-areas: "header"
                             "banner"
                             "aside-left"
                             "main"
                             "aside-right"
                             "content-end"
                             "footer";
    }
}